body{
    padding: 10px;
}

.red{
    background: rgb(202, 60, 60);

}

.blue{
    background: rgb(66, 184, 221);
}

.orange{
    background: #FFC15E;
}

.dangerous{
    float: right;
}

.imp{
    font-weight: 700;
}

#timediv{
    padding: 40px;
    font-size: 200%;
    width:100%;
}